div.span-17.colborder
  div.span-9
    |<h5>#{article.title}
  div.span-3
    if user && article.USERId == user.id 
      |[<a href="/blog/edit/#{article.id}">edit</a>]
  div.span-5.last
    h6= article.updatedAt.toGMTString()
  div.span-17
    != article.body

  hr
  - each comment in comments
    div.span-17
      div.span-6
        |<h5>#{comment.id}@#{comment.createdAt.toGMTString()}</h5>
      div.span-11.last
        em= comment.body
      hr
  script(language='javascript')
    $(document).ready(function(){
      $("#comment_trigger").click(function(){
        $("#comment_form").slideToggle("slow");
      });
    });

  h3#comment_trigger wanna comment?

  form#comment_form.inline(method='post', action='/blog/comment', style='display: none')
    fieldset
      //legend wanna comment?
      //p
      //  label email
      //  br
      //  input.span-10(type='text', name='comment_owner')
      //  br
      div.span-3
        label comment
      div.span-10
        input.span-10(type='text', name='comment_body')
        input(type='hidden', name='article_id', value=article.id)
      div.span-3.last
        input(type='submit', value='comment')
