!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/blueprint/screen.css', type='text/css', media='screen, projection')
    link(rel='stylesheet', href='/stylesheets/blueprint/fancy-type/screen.css', type='text/css', media='screen, projection')

  div.container
    div.span-6.colborder
      h1.alt lay's thinking
    div.span-16.last
      div.span-4
        h3 
      div.span-4 
        |<h2><a class='alt' href='/bio'>Biography</a></h2>
      div.span-4 
        |<h2><a class='alt' href='/contact'>Contact Lay</a></h2>
      div.span-4.last 
        |<h2><a class='alt' href=''>Next?</a></h2>
    hr
    div.container
      body!= body
      if user == null
        div.span-6.last
          form(method='post', action='/user/login')
            fieldset
              legend login
              != messages()
              p
                label(for='email') account
                br
                input#email.text.span-5(type='text', name='email')
                br
              p
                label(for='password') password
                br
                input#password.text.span-5(type='password', name='password')
                br
              p
                input(type='submit', value='login')
                a(href='/user/register_redirect') no account?
      else
        div.span-6.last
          p= user.name
          p= user.email
          p= user.id
    hr
    div.span-24.prepend-9.append-9.last
      h6 all right reserved @thunderzhulei.com
