div.lay-span-16.lay-page-bg.lay-corner-all.lay-not-last
  div.lay-margin-top-1
    div.lay-span-15.lay-margin-left-2.lay-article.lay-corner-all
      div.span-12.lay-margin-left-1
        |<h6 class="lay-text-title">#{article.title}@#{article.updatedAt.toUTCString()}</h6>
        if user && article.USERId == user.id 
          |[<a href="/blog/edit/#{article.id}">edit</a>]
      div.span-14.lay-margin-left-2.lay-margin-top-1.lay-text-body
        != article.body

  hr.space

  div.lay-span-15.lay-margin-left-2
    button#comment_trigger.ui-state-default.ui-corner-all(role='button')
      |<span class="lay-span-4 ui-icon ui-icon-newwin"></span>Wanna make some comment?

  hr.space

  div#comment_list
    - each comment in comments
      div.lay-span-15.lay-margin-left-2.lay-article.lay-corner-all
        div.span-5.lay-margin-left-1
          |<h5>#{comment.id}@#{comment.createdAt.toGMTString()}</h5>
        div.span-8.lay-text-body
          em= comment.body
      hr.space

    :coffeescript
      $(document).ready ()->
        $("#comment_trigger").click ()->
          $("#comment_dialog").dialog {
            autoOpen: true
            show: "blind"
            resizable: false
            height: 100
            width: 450
          }
          false

div#comment_dialog(title='Make Some noise', style="display: none")
  form(method='post', action="/comment/#{article.id}")
    input#aid(type='hidden', value="#{article.id}")
    input#next_page(type='hidden', value="#{next_page}")
    input#total_page(type='hidden', value="#{total_page}")
    input#type_page(type='hidden', value='2')
    div
      div.lay-common-not-last
        label Comment
      div.lay-common-not-last
        input.lay-corner-all.lay-span-6(type='text', name='comment_body')
      div.lay-common-last
        button#login_button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only(role='button')
          span.ui-button-text to blog
